/* Sets heading and image to span width of the page */
* {
    box-sizing: border-box;
    margin: 0;
}

/* Header/navigation bar */
/* Header bar size/color and font of Horiseon */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Position of "Horiseon" heading */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Color of "seo" in heading */
#seo {
    color: #d9dcd6;
}

/* Items on navigation bar */
header ul {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Spacing between the nav (list) items and colour of linked text */
header ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Styling of main image - Digital Marketing Meeting */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* Body of page */
/* Background colour of body */
body {
    background-color: #d9dcd6;
}

/* Paragraph text on entire page */
p {
    font-size: 16px;
}


/* Main content, down left of page */
/* Position of main content */
.content {
    width: 75%;
    display: inline-block;
}

/* Position and styling of text and images within boxes of main content */
.content section {
    
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Height of images in main content */
.content img {
    max-height: 200px;
}

/* Headings in content box */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Position of image relative to text in main content */
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}

/* Right hand pane */
/* Position and styling of pane and its content */
.benefit-pane {
    margin-right: 20px;
    padding: 20px;
    float: right;
    width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    background-color: #2589bd;
}

/* Spacing between sections in right pane */
.benefit-pane section {
    margin-bottom: 32px;
}

/* Styling of h3 in right pane */
.benefit-pane h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Position and size of images in right pane */
.benefit-pane img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* Footer section */
/* Position and styling of footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 16px;
}

/* Styling of h2 in footer */
footer h2 {
    font-size: 20px;
}
